# ffmonitor - a monitoring tool for freifunk networks
# Copyright (C) 2013  Leo Krueger
# 
# This file is part of ffmonitor.
#
# ffmonitor is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# ffmonitor is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with ffmonitor.  If not, see <http://www.gnu.org/licenses/>.
#

[data]
# stores last modified info about the nodes.json file
lastmodified = /tmp/ffhh.date
# file to store the mapping between ids and node names
# also readable by webserver
namedb = /var/lib/ffhh/namedb.json

[dataurl]
# multiple urls possible
# url1 is tried first, others successively on error
url1 = http://freifunk-gw01.hamburg.ccc.de/ffhhmap/nodes.json
url2 = http://graph.hamburg.freifunk.net/nodes.json

[rrd]
daemon = unix:/var/run/rrdcached.sock
# folder to store rrd files
path = /var/lib/ffhh/

[graph]
# folder to store the generated graphs
# also readable by webserver
path = /var/lib/ffhh/graphs/

[stats]
# file to store the offline stats
# also readable by webserver
path = /var/lib/ffhh/stats.txt
